/* ImageContainer.css */
.dontShow{
  opacity: 0;
  transform: translateY(50px); /* Move the image 50px down initially */
  transition: opacity 2s ease, transform 0.5s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
   /* Move the image to its original position */
}

.image-container:hover .image {
  transform: scale(1.1);
}