@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translatx(40px);
  }
  to {
    opacity: 1;
    transform: translatez(0);
  }
}

.show {
  animation: fadeInUp 4s ease backwards;
  
  
}

.image-container:hover .image {
  transform: scale(1.1);
}